<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyChLtJC58R3hok7jIHBR3xTrDGtoUTdjN8</string>
	<key>GCM_SENDER_ID</key>
	<string>1014638655969</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerceCustomer.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-customer-466d1</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-customer-466d1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1014638655969:ios:1aba16b71f18850f063aa0</string>
</dict>
</plist>